.wraper {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px dashed var(--team-main-color);

    h2 {
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 1.5;
        line-height: 1rem;
        text-transform: capitalize;
        color: var(--team-main-color);
        flex-grow: 1;



    }
    span{
        svg {
            color: var(--team-main-color);
        }
    }

}